In [1]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])

In [9]:
df

             A         B
G1 1  2.815819 -1.097932
   2  1.480153  0.489823
   3 -0.740987  1.271609
G2 1  0.821899  0.157240
   2  1.544063  0.185593
   3 -0.135188  0.245035

In [11]:
df.loc['G1'].loc[1]

A    2.815819
B   -1.097932
Name: 1, dtype: float64

In [13]:
df.index.names = ['Groups', 'Num']

In [14]:
df

                   A         B
Groups Num
G1     1    2.815819 -1.097932
       2    1.480153  0.489823
       3   -0.740987  1.271609
G2     1    0.821899  0.157240
       2    1.544063  0.185593
       3   -0.135188  0.245035

In [15]:
df.loc['G2'].loc[2]['B']

0.1855925464849036